body{
    background-color:rgb(129, 129, 225);
    
}

.blocos{
    padding: 90px;
    margin: 45px;
    background-color: rgb(255, 255, 119);
    
}


.green{
    background-color: rgb(255, 255, 119);
    height: 522px;
}


.flex{
    display:flex;
    
}

.red{
    padding: 90px;
    margin: 45px;
    background-color: rgb(255, 255, 119);
    height: 250px;
    
}
.yellow{
    background-color:rgb(255, 255, 119); 
    padding-right: 360px;
}

