body{
    background-color:rgb(129, 129, 225);
    margin: 0;
}



.blocos{
    padding: 90px;
    margin: 45px;
    background-color: rgb(255, 255, 119);
    
}

.coluna{
    display: flex;
    flex-direction: column;
   
    
}
.green{
    background-color: rgb(30, 150, 19);
    height: 522px;
}
.green-2{
    background-color: rgb(30, 150, 19);
    height: 542px;
}

.blue{
    background-color: aqua;
    height: 252px;
    width: 275px;
    
}
.flex{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    
}
.flex-2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.red-3{
     background-color: red;
    height: 400px;
    width: 200px; 
    align-self: flex-start;
     
    margin-top: 45px;
}
.red{
    background-color: red;
    height: 271px;
    width: 8px;  
}
.red-2{
    background-color: red;
    height: 310px;
    width: 8px;  

}


.yellow{
    background-color:rgb(255, 255, 119); 
    padding-right:360px;
}

.purple{
    background-color: blueviolet;
    height: 40px;
    width: 200px;
}
.yellow3{
    background-color:rgb(255, 255, 119);
    padding-right: 180px;
}
.yellow2{
    background-color: black;
    height: 40px;
    width: 250px;
    
}

